.todoitem {
  background-color: rgb(255, 255, 255);
  font-size: 20px;

  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  padding: 20px;
}

.itemname {
  padding: 20px;
  font-weight: bold;
}

.line {
  border: 1px solid #f4f4f4;
}

.delete {
  float: right;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  color: #f4f4f4;
  background-color: rgb(248, 178, 86);
  margin-top: -5px;
}

.complete {
  text-decoration: line-through;
}
